/* @import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass"; */

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.section {
  padding: 0 5px;
  margin: 0 5px;
}

.login .menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  min-width: 150px;
  z-index: 3;
  padding: 5px 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: rgb(238, 255, 234);
  border-width: 1px;
  border-radius: 5px;
  transition-timing-function: ease;
  transition-duration: 200ms;
  opacity: 0;
  transform: translateY(-10px);
}

.login:hover .menu {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-1px);
}

.menu ul li {
  text-align: left;
  padding: 0 10px;
}

.menu ul li:hover {
  background-color: rgb(214, 255, 214);
  height: auto;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

footer,
footer a {
  color: white;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
  {
  transform: translateY(-10px);
  opacity: 0;
}

.condo-selected {
  /* admin */
  border-radius: 5px;
  padding: 10px 5px 5px 10px;
  box-shadow: 1px 1px 5px gray;
}

#faixa_topo {
  background-image: linear-gradient(#008040, #00cc66);
}

#cabecalho {
  margin: 10px;
  margin-top: 20px;
}

#link {
  text-align: left;
}

.navigation {
  /* Div com os Botões iniciais */
  text-align: center;
  margin-bottom: 20px;
}

.button {
  margin: 10px 5px 10px 5px;
  width: 140px;
}

.link-cinza:visited,
.link-cinza:link {
  color: lightgray;
}


#login {
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 300ms;
}

.login {
  text-align: right;
  float: right;
}

#user {
  padding: 0px;
}

#user-photo {
  align-self: right;
  margin: 5px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px gray;
  background-size: cover;
  background-color: #dcfae0;
}

#add-photo {
  position: relative;
  top: -50px;
  left: 160px;
  width: 50px;
  height: 50px;
  padding: 13px 18px;
  box-shadow: 1px 1px 6px gray;
  border-radius: 50%;
  background-color: rgb(60, 255, 206);
}

#camera-photo {
  display: inline-block;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  background-color: #fff;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  background-color: rgb(206, 255, 206);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#abrir {
  margin: 5px 15px;
}

.container-abrir {
  background-color: rgb(225, 255, 225);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}



.blocks {
  display: grid;
  width: 360px;
  grid-template-columns: 50% 50%;
}

.janela {
  /*janela do qrcode */
  display: inline-block;
  align-items: center;
  text-align: center;
  word-break: break-all;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 90%;
  height: 90%;
  z-index: 5;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  background-color: #ebfffcfe;
}

.line {
  display: grid;
}

/* Configuração das transições ---------------------------- */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  transition-delay: 1s;
}

.ade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
  transition-delay: 1s;
}

.label {
  padding-top: 10px;
}

.login a {
  color: #ffffff;
}

.div-table-array-line {
  display: grid;
  grid-template-columns: minmax(110px, 20%) auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: white;
  border-bottom: rgba(0, 138, 0, 0.493);
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}

.div-table-array-line:hover {
  background-color: rgba(144, 238, 144, 0.26);
}

/* Layout da tabela div ---------------------------- */
:root {
  --width-small: auto;
  --border-div-table: rgb(231, 231, 231);
  --background-div-table-head: rgb(241, 255, 253);
}

.table-grid-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.table-around {
  border-radius: 3px;
  width: calc(100% - 5px);
  box-shadow: 1px 1px 6px gray;
  margin: 15px 0px;
}

.cinza {
  background-color: rgb(246, 246, 246);
  color: lightgray
}

.bgCinza {
  background-color: rgb(240, 240, 240);
}

.alerta {
  color: red;
}

.first-line {
  font-size: 1.5 rem;
  height: 44px;
  display: grid;
  width: var(--width-small);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--border-div-table);
  background-color: var(--background-div-table-head);
  padding-top: 10px;
  padding-bottom: 10px;
}

.last-line {
  display: grid;
  width: var(--width-small);
  height: 35px;
  border-style: hidden;
  border-color: var(--border-div-table);
  border-width: 1px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--background-div-table-head);
}

.div-table-line {
  display: grid;
  padding-top: 2px;
  padding-bottom: 0px;
  width: var(--width-small);
  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--border-div-table);

}

#visita {
  /* grid-template-columns: 65% 0% 35%; */
  grid-template-columns: 46% 0% 26% 28%;

}

#registro {
  grid-template-columns: 30% 40% 30%;
}

.transp {
  color: rgba(27, 27, 27, 0);
}

.table-c {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

@media screen and (min-width: 600px) {

  /* para desktop */
  .first-line,
  .last-line,
  .div-table-line,
  #visita,
  #registro {
    width: auto;
  }

  .first-line {
    grid-template-columns: 250px 150px 200px;
  }

  .div-table-line {
    grid-template-columns: 250px 150px 200px;
  }

  #visita {
    grid-template-columns: 40% 15% 15% 30%;
  }

  #registro {
    grid-template-columns: 20% 30% 15% 20% 15%;
  }

  /* .transp {
    color: rgb(49, 49, 49);
  } */

  .navigation {
    text-align: left;
  }

  .bloco {
    margin: auto;
    max-width: 660px;
  }

  .bloco-centro {
    margin: auto;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
}

/* Configuração do Loading ---------------------------- */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: showing 0.4s;
}

@keyframes showing {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.spin {
  position: absolute;
  background: rgba(64, 224, 208, 0.6);
  height: 100px;
  width: 100px;
  border-radius: 50vh;
  border: 7px solid #00000000;
  border-top: 7px solid turquoise;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.spinout {
  position: absolute;
  background: radial-gradient(rgba(64, 224, 208, 0.2) 30%, rgba(64, 224, 208, 0) 80%);
  height: 200px;
  width: 200px;
  border-radius: 150vh;
}

.loading {
  position: absolute;
  color: #267e75;
  font-family: sans-serif;
}

.notif-line-cel {
  min-width: 200px;
}

/* Botão deslizante */
.switch {
  position: absolute;
  visibility: hidden;
}

.switch+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  height: 20px;
}

.switch--shadow+label {
  padding: 5px;
  width: 40px;
  /* largura do botao*/
  height: 20px;
  /* altura do botao*/
  background-color: #dddddd;
  border-radius: 50px;
}

/* Posição da Bolinha do botão */
.switch--shadow+label:before,
.switch--shadow+label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

/* Através do before desenha-se o fundo do label */
.switch--shadow+label:before {
  right: 1px;
  background-color: #ffe3ae;
  border-radius: 20px;
  transition: all 0.4s;
  padding-left: 20px;
  padding-top: 5px;
  content: "";
}

/* Através do after desenha-se a bolinha do botão */
.switch--shadow+label:after {
  width: 18px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

/* Liga - Desliga é feito através do checked*/
.switch--shadow:checked+label:before {
  background-color: #8ce196;
  padding-top: 1px;
  padding-left: 1px;
  content: "";
}

.switch--shadow:checked+label:after {
  transform: translateX(19px);
}