/* @import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass"; */

body {
  padding: 0px;
  margin: 0px;
  border: 0px ;
}
#faixa_topo {
  background-image: linear-gradient(#008040, #00cc66);
}
#cabecalho {
  margin: 10px;
  margin-top: 20px;
  
}

#link {
  text-align: left;
}
#startPage { /* Div com os Botões iniciais */
  text-align: center;
  margin-bottom: 20px;
}
.button {
    margin: 5px;
    width: 140px;
}
#login {
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 300ms;
}
.login {
    text-align: right;
    float: right;
}
#user {
  border-radius: 10px;
  padding: 20px;
}
.blocks {
  display: grid;
  width: 360px; 
  grid-template-columns: 50% 50%;
}
.janela { /*janela do qrcode */
  display: inline-block;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 5%;
  width: 90%;
  height: 90%;
  z-index: 1;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.line {
  display: grid ;
}

/* Configuração das transições ---------------------------- */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  transition-delay: 1s;
}
.ade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transition-delay: 1s;
}
.label {
  padding-top: 10px;
}
.login a {
  color: #ffffff;
}

.div-table-array-line{
  display: grid;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  border: white;
  border-bottom: green;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.div-table-array-line:hover {
  background-color: rgba(144, 238, 144, 0.26);
}


/* Layout da tabela div ---------------------------- */
:root {
  --width-small: 100%;
  --border-div-table: #004d11;
  --background-div-table-head: #ebfff7;
}
.first-line {
  font-size: 1.5 rem;
  display: grid;
  width: var(--width-small);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-div-table);
  background-color:var(--background-div-table-head);
  padding-top: 10px;
  padding-bottom: 10px;
}
.last-line {
  display: grid;
  width: var(--width-small);
  height: 35px;
  border-style: solid;
  border-color: var(--border-div-table);
  border-width: 1px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:var(--background-div-table-head);
}
.div-table-line{
  display: grid;
  padding-top: 2px;
  padding-bottom: 0px;
  width: var(--width-small);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-div-table);
  background-color: #ffffffe1;
}

#visita { grid-template-columns: 65% 0% 35%;}
#registro{ grid-template-columns: 30% 40% 30%;  }
.transp{ color: rgba(255, 255, 255, 0);}

.table-c {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

@media screen and (min-width: 600px) {
  .first-line { width: 600px; grid-template-columns: 250px 150px 200px;}
  .last-line {width: 600px;}
  .div-table-line { width: 600px; grid-template-columns: 250px 150px 200px; }
  #visita {  width: 600px; grid-template-columns: 60% 20% 20%;}
  #registro{  width: 600px; grid-template-columns: 20% 60% 20%; }
  .transp{ color: rgb(0, 0, 0);}
  #startPage { text-align: left; }
}

/* Configuração do Loading ---------------------------- */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: showing 0.4s;
}
@keyframes showing {
  0% { transform: scale(0.1); }
  100% {transform: scale(1);}
}
.spin {
  position: absolute;
  background: rgba(64, 224, 208, 0.6);
  height: 100px;
  width: 100px;
  border-radius: 50vh;
  border: 7px solid #00000000;
  border-top: 7px solid turquoise;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
.spinout {
  position: absolute;
  background: radial-gradient(rgba(64, 224, 208, 0.2) 30%, rgba(64, 224, 208, 0) 80%);
  height: 200px;
  width: 200px;
  border-radius: 150vh;
}
.loading {
  position: absolute;
  color: #267e75;
  font-family: sans-serif;
}
